@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@400;600 & display=swap');

.background_login {
    background-image: url('../images/background-café.jpg');
    background-size: cover;
    background-attachment: fixed;
}


.container_login {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bloco_login {
    width: 300px;
    height: 450px;
    border-radius: 5px;
    background-color: white;
    margin: 60px 0px 80px 0px;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.836);
}

.bloco_login h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background-color: #381e0f;
    color: white;
    border-radius: 3px 3px 0px 0px;
}

.btn_login {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding: 15px 60px;
    border-radius: 30px;
    border: none;
    background-color: black;
    background-size: 200%;
    color: white;
    display: flex;
    margin: auto;
    margin-top: 40px;
    transition: .5s ease;
}

.btn_login:hover {
    border-radius: 5px;
    padding: 15px 80px;
    background-color: #381e0f;
}

.info_usuario {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 20px 0px 8px 27px;
}

.input_login {
    padding: 9px 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    font-size: 17px;
}